<!DOCTYPE html>
<html>
<head>
    <title>Video Prediction</title>
    <script>
        function submitForm(event) {
            event.preventDefault();
            var videoUrl = document.getElementById('video_url').value;
            var encodedUrl = encodeURIComponent(videoUrl);
            window.location.href = '/predict?video_url=' + encodedUrl;
        }
    </script>
</head>
<body>
    <h1>Enter Video URL</h1>
    <form onsubmit="submitForm(event)">
        <input type="text" id="video_url" placeholder="Enter video URL">
        <input type="submit" value="Predict">
    </form>

    {% if result is not none %}
    <h2>Prediction Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
</body>
</html>